[KMahjonggTileset]
Name=Alphabet
Name[el]=Αλφάβητο
Name[es]=Alfabeto
Name[ja]=アルファベット
Name[nl]=Alfabet
Name[pt]=Alfabeto
Name[pt_BR]=Alfabeto
Name[sv]=Alfabet
Name[wa]=Alfabet
Name[zh_CN]=字母表
Name[zh_TW]=字母
Description=A colorful tileset designed for kids of all ages.
Description[el]=Ένα πολύχρωμο σύνολο σχεδιασμένο για παιδιά όλων των ηλικιών.
Description[es]=Baldosas llenas de color diseñadas para niños de todas las edades.
Description[nl]=Een kleurrijke stenenset ontworpen voor kinderen van alle leeftijden.
Description[pt]=Um conjunto de peças colorido desenhado para crianças de todas as idades.
Description[pt_BR]=Um conjunto de peças colorido desenhado para crianças de todas as idades.
Description[sv]=En färgrikt brickuppsättning skapad för barn i alla åldrar.
Description[wa]=On djeu d' pîces di totes coleurs fwait po ls efants d' totes les ådjes.
Description[zh_CN]=为各年龄段孩童设计的彩色字母表。
Description[zh_TW]=彩色的外觀，為各年齡層的小朋友設計的。
VersionFormat=1
Author=Raquel Ravanini
AuthorEmail=raquel@tabuleiro.com
FileName=alphabet.svgz
LevelOffsetX=28
LevelOffsetY=32
TileFaceWidth=173
TileFaceHeight=211
TileWidth=231
TileHeight=283
