[KMahjonggTileset]
Name=Alphabet
Name[es]=Alfabeto
Name[pt]=Alfabeto
Name[pt_BR]=Alfabeto
Name[sv]=Alfabet
Name[zh_TW]=字母
Description=A colorful tileset designed for kids of all ages.
Description[es]=Baldosas llenas de color diseñadas para niños de todas las edades.
Description[pt]=Um conjunto de peças colorido desenhado para crianças de todas as idades.
Description[pt_BR]=Um conjunto de peças colorido desenhado para crianças de todas as idades.
Description[sv]=En färgrikt brickuppsättning skapad för barn i alla åldrar.
Description[zh_TW]=彩色的外觀，為各年齡層的小朋友設計的。
VersionFormat=1
Author=Raquel Ravanini
AuthorEmail=raquel@tabuleiro.com
FileName=alphabet.svgz
LevelOffsetX=28
LevelOffsetY=32
TileFaceWidth=173
TileFaceHeight=211
TileWidth=231
TileHeight=283
