[KMahjonggTileset]
Name=Alphabet
Name[pt]=Alfabeto
Name[pt_BR]=Alfabeto
Description=A colorful tileset designed for kids of all ages.
Description[pt]=Um conjunto de peças colorido desenhado para crianças de todas as idades.
Description[pt_BR]=Um conjunto de peças colorido desenhado para crianças de todas as idades.
VersionFormat=1
Author=Raquel Ravanini
AuthorEmail=raquel@tabuleiro.com
FileName=alphabet.svgz
LevelOffsetX=28
LevelOffsetY=32
TileFaceWidth=173
TileFaceHeight=211
TileWidth=231
TileHeight=283
