[KMahjonggTileset]
Name=Bamboo
Name[da]=Bambus
Name[de]=Bambus
Name[es]=Bambú
Name[et]=Bambus
Name[fr]=Bambou
Name[it]=Bambu
Name[km]=ឫស្សី
Name[nl]=Bamboe
Name[nn]=Bambus
Name[pt]=Bambu
Name[pt_BR]=Bambu
Name[ru]=Бамбу
Name[sr]=Бамбус
Name[sr@latin]=Bambus
Name[sv]=Bambu
Name[uk]=Бамбук
Name[x-test]=xxBambooxx
Name[zh_CN]=Bovo
Name[zh_TW]=竹子
Description=Japanese tileset with brightly-colored kanji on a soft woodgrain
Description[ca]=Conjunt de fitxes amb caràcters kanji de colors brillants sobre una fusta tova
Description[da]=Japanske brikker med klartfarvede kanji på en blød træåre
Description[de]=Japanische Spielsteine mit hellfarbigen „Kanji“-Schriftzeichen auf einer weichen Holzmaserung.
Description[en_GB]=Japanese tileset with brightly-coloured kanji on a soft woodgrain
Description[es]=Fichas japonesas con kanjis de brillantes colores sobre madera clara
Description[et]=Jaapani klotsid heledate kanjidega pehmetoonilisel puidul
Description[it]=Tessere giapponesi con caratteri kanji a colori brillanti su legno chiaro venato
Description[lv]=Japānas kauliņu kopa ar spilgti krāsotiem kanji uz koksnes
Description[nl]=Japanse stenenset met helder gekleurde kanji of een zachte houtstructuur
Description[nn]=Japanske brikker med lys kanji på mjukt trevirke.
Description[pt]=Conjunto de peças japonesas com um Kanji colorido sobre um tom suave de serradura
Description[pt_BR]=Conjunto de peças japonesas com um Kanji colorido sobre um tom suave de serradura
Description[sr]=Јапанске плочице са светло обојеним канђијем на меком дрвету
Description[sr@latin]=Japanske pločice sa svetlo obojenim kanđijem na mekom drvetu
Description[sv]=Japanska brickor med kanji i klara färger på svagt ådrat trä
Description[uk]=Японський набір плиток з кандзі світлого кольору на м’якій деревині
Description[x-test]=xxJapanese tileset with brightly-colored kanji on a soft woodgrainxx
Description[zh_CN]=日式麻将牌，使用柔和轻淡色彩的日文汉字
Description[zh_TW]=日式的外觀，淡顏色的漢字與竹林
VersionFormat=1
Author=Matthew Woehlke
AuthorEmail=mw_triad@users.sourceforge.net
FileName=bamboo.svgz
LevelOffsetX=10
LevelOffsetY=10
TileFaceHeight=100
TileFaceWidth=70
TileHeight=125
TileWidth=95
