[KMahjonggTileset]
Name=Classic
Name[el]=Κλασσικό
Name[uk]=Класичні
Name[x-test]=xxClassicxx
Description=Chinese tileset, inspired by the classic version shipped with KDE 3
VersionFormat=1
Author=Robert Buchholz
AuthorEmail=robertbuchholz@gmx.de
FileName=classic.svg
LevelOffset=10
TileFaceHeight=95
TileFaceWidth=69
TileHeight=114
TileWidth=90
