[KMahjonggTileset]
Name=Classic
VersionFormat=1
Author=Robert Buchholz
AuthorEmail=robertbuchholz@gmx.de
FileName=default_tileset.svgz
LevelOffset=10
TileFaceHeight=95
TileFaceWidth=69
TileHeight=114
TileWidth=90
