[KMahjonggTileset]
Name=Classic
Name[be]=Класічны
Name[el]=Κλασσικό
Name[ja]=クラシック
Name[sv]=Klassisk
Name[uk]=Класичні
Name[x-test]=xxClassicxx
Description=Chinese tileset, inspired by the classic version shipped with KDE 3
Description[el]=Κινέζικα πιόνια, επηρεασμένα από την κλασική έκδοση του KDE 3
Description[sv]=Kinesiska brickor, inspirerade av den klassiska versionen levererad med KDE 3
Description[x-test]=xxChinese tileset, inspired by the classic version shipped with KDE 3xx
VersionFormat=1
Author=Robert Buchholz
AuthorEmail=robertbuchholz@gmx.de
FileName=classic.svg
LevelOffsetX=10
LevelOffsetY=10
TileFaceHeight=95
TileFaceWidth=69
TileHeight=114
TileWidth=90
