[KMahjonggTileset]
Name=Default
Name[be]=Прадвызначаны
Name[br]=Dre ziouer
Name[ca]=Predeterminat
Name[cs]=Výchozí
Name[da]=Standard
Name[de]=Standard
Name[el]=Προκαθορισμένο
Name[en_GB]=Default
Name[eo]=Defaŭlto
Name[es]=Predeterminado
Name[et]=Vaikimisi
Name[eu]=Lehenetsia
Name[fa]=پیش‌فرض
Name[fi]=Oletus
Name[fr]=Par défaut
Name[ga]=Réamhshocrú
Name[gl]=Predeterminado
Name[hne]=डिफाल्ट
Name[hu]=Alapértelmezés
Name[it]=Predefinito
Name[ja]=標準
Name[km]=លំនាំដើម
Name[ko]=기본
Name[lt]=Numatyta
Name[lv]=Noklusējuma
Name[nb]=Standard
Name[nds]=Standard
Name[ne]=पूर्वनिर्धारित
Name[nl]=Standaard
Name[nn]=Standard
Name[oc]=Defaut
Name[pl]=Domyślne
Name[pt]=Predefinição
Name[pt_BR]=Padrão
Name[ro]=Implicit
Name[ru]=По умолчанию
Name[si]=පෙරනිමිය
Name[sl]=Privzeto
Name[sr]=Подразумевано
Name[sr@latin]=Podrazumevano
Name[sv]=Förval
Name[te]=అప్రమెయం
Name[tr]=Öntanımlı
Name[uk]=Типові
Name[wa]=Prémetou
Name[x-test]=xxDefaultxx
Name[zh_CN]=默认
Name[zh_TW]=預設
Description=Art inspired by real Japanese Mahjongg tiles
Description[ca]=Art inspirat per fitxes reals del Mahjongg japonès
Description[da]=Kunst inspireret af ægte japanske Mahjongg-fliser
Description[de]=Die Gestaltung wurde inspiriert von echten Japanischen Mahjongg-Spielsteinen.
Description[el]=Τα γραφικά έχουν επηρεαστεί από το αρχικά ιαπωνικά Mahjongg πιόνια
Description[en_GB]=Art inspired by real Japanese Mahjongg tiles
Description[es]=Arte inspirado en las fichas del auténtico Mahjongg japonés
Description[et]=Tõelistest jaapani Mahjonggi klotsidest ajendatud kunstiteema
Description[eu]=Jatorrizko Mahjongg benetako lauza japoniarretan oinarrituta
Description[fr]=Graphisme inspiré des véritables tuiles du Mahjongg japonais
Description[ga]=Ealaín faoi anáil tíleanna Seapánacha Mahjongg
Description[gl]=Traballo plástico inspirado nas autenticas fichas do Mahjongg xaponés
Description[hu]=Eredeti japán Mahjongg-mintát követő téma
Description[it]=Decorazione ispirata alle tessere del vero Mahjongg giapponese
Description[ja]=本物の日本のマージャン牌を元にしたアートワーク
Description[km]=សិល្បៈ បង្កើត​ដោយ​ក្រឡា Mahjongg ជប៉ុន​ពិត
Description[lv]=Māksla, kas radusi iedvesmu no īstiem japāņu Mahjongg kauliņiem
Description[nds]=Na rejelle japaansche Mahjongg-Steen
Description[nl]=Kunst, geïnspireerd door echte Japanse Mahjongg-stenen
Description[nn]=Inspirert av ekte japanske Mahjongg-brikker.
Description[pl]=Sztuka inspirowana prawdziwymi japońskimi kostkami Mahjongga
Description[pt]=Arte inspirada nas peças reais do Mahjongg japonês
Description[pt_BR]=Arte inspirada em peças reais de Mahjongg do Japão
Description[ru]=Оформление, навеянное настоящими плитками японского маджонга
Description[sl]=Umetniško navdihnjena s strani pravih japonskih ploščic za Mahjongg
Description[sr]=Рад надахнут правим јапанским махђонг плочицама
Description[sr@latin]=Rad nadahnut pravim japanskim mahđong pločicama
Description[sv]=Grafik inspirerad av riktiga japanska Mahjongg-brickor
Description[uk]=Малюнки, на які надихнули справжні японські плитки Маджонг
Description[wa]=Årt inspiré des vraiyès pîces di Mahjongg djaponesses
Description[x-test]=xxArt inspired by real Japanese Mahjongg tilesxx
Description[zh_CN]=艺术灵感源于真实的日本麻将牌
Description[zh_TW]=由實際的日本麻將牌得來的靈感
VersionFormat=1
Author=Raquel Ravanini
AuthorEmail=raquel@tabuleiro.com
FileName=default.svgz
LevelOffsetX=12
LevelOffsetY=12
TileFaceHeight=89
TileFaceWidth=69
TileHeight=116
TileWidth=96
