[KMahjonggTileset]
Name=Default
Name[be]=Прадвызначаны
Name[el]=Προκαθορισμένο
Name[es]=Predeterminado
Name[ga]=Réamhshocrú
Name[ja]=デフォルト
Name[pt]=Predefinição
Name[pt_BR]=Predefinição
Name[sv]=Förval
Name[uk]=Типові
Name[x-test]=xxDefaultxx
Name[zh_TW]=預設
Description=Art inspired by real japanese Mahjongg tiles
Description[el]=Τα γραφικά έχουν επηρεαστεί από το αρχικά ιαπωνικά Mahjongg πιόνιαÞ
Description[es]=Arte inspirado en las fichas del Mahjongg japonés real
Description[ja]=本物の日本のマージャン牌を元にしたアートワーク
Description[pt]=Arte inspirada nas peças reais do Mahjongg japonês
Description[pt_BR]=Arte inspirada nas peças reais do Mahjongg japonês
Description[sv]=Grafik inspirerad av riktiga japanska Mahjongg-brickor
Description[x-test]=xxArt inspired by real japanese Mahjongg tilesxx
Description[zh_TW]=由實際的日本麻將牌得來的靈感
VersionFormat=1
Author=Raquel Ravanini
AuthorEmail=raquel@tabuleiro.com
FileName=default.svgz
LevelOffsetX=12
LevelOffsetY=12
TileFaceHeight=89
TileFaceWidth=69
TileHeight=116
TileWidth=96
