[KMahjonggTileset]
Name=Default
Name[be]=Прадвызначаны
Name[br]=Dre ziouer
Name[ca]=Predeterminat
Name[de]=Standard
Name[el]=Προκαθορισμένο
Name[eo]=Defaŭlto
Name[es]=Predeterminado
Name[et]=Vaikimisi
Name[fa]=پیش‌فرض
Name[fi]=Oletus
Name[ga]=Réamhshocrú
Name[gl]=Predeterminado
Name[it]=Predefinito
Name[ja]=標準
Name[ko]=기본
Name[ne]=पूर्वनिर्धारित
Name[nl]=Standaard
Name[oc]=Defaut
Name[pt]=Predefinição
Name[pt_BR]=Predefinição
Name[sl]=Privzeto
Name[sv]=Förval
Name[uk]=Типові
Name[wa]=Prémetou
Name[x-test]=xxDefaultxx
Name[zh_CN]=默认
Name[zh_TW]=預設
Description=Art inspired by real japanese Mahjongg tiles
Description[ca]=Art inspirat per fitxes reals de Mahjongg japonès
Description[de]=Die enthaltene Kunst wurde inspiriert von echten japanischen Mahjongg Spielsteinen
Description[el]=Τα γραφικά έχουν επηρεαστεί από το αρχικά ιαπωνικά Mahjongg πιόνιαÞ
Description[es]=Arte inspirado en las fichas del Mahjongg japonés real
Description[et]=Tõelistest jaapani Mahjonggi klotsidest ajendatud kunstiteema
Description[fa]=هنر الهام گرفته از کاشیهای Mahjongg ژاپنی واقعی
Description[gl]=Traballo plástico inspirado nas autenticas fichas do Mahjongg xaponés
Description[it]=Ispirato alle tessere del vero Mahjongg giapponese
Description[ja]=本物の日本のマージャン牌を元にしたアートワーク
Description[ne]=वास्तविक जापानी माहाजोङ्ग टायलद्वारा अभिप्रेरित कला
Description[nl]=Kunst, geïnspireerd door echte Japanse Mahjongg-stenen
Description[pt]=Arte inspirada nas peças reais do Mahjongg japonês
Description[pt_BR]=Arte inspirada nas peças reais do Mahjongg japonês
Description[sl]=Umetniško navdihnjena s strani pravih japonskih ploščic za Mahjongg
Description[sv]=Grafik inspirerad av riktiga japanska Mahjongg-brickor
Description[x-test]=xxArt inspired by real japanese Mahjongg tilesxx
Description[zh_CN]=艺术灵感源于真实的日本麻将牌
Description[zh_TW]=由實際的日本麻將牌得來的靈感
VersionFormat=1
Author=Raquel Ravanini
AuthorEmail=raquel@tabuleiro.com
FileName=default.svgz
LevelOffsetX=12
LevelOffsetY=12
TileFaceHeight=89
TileFaceWidth=69
TileHeight=116
TileWidth=96
