[KMahjonggTileset]
Name=Ancient Egyptians
Name[uk]=Давні єгиптяни
Name[x-test]=xxAncient Egyptiansxx
VersionFormat=1
Author=Eugene Trounev [it-s] & Sean Wilson [Half-Left]
AuthorEmail=eugene.trounev@gmail.com; suseux@googlemail.com
FileName=egypt.svgz
LevelOffsetX=12
LevelOffsetY=12
TileFaceHeight=89
TileFaceWidth=69
TileHeight=116
TileWidth=96
