[KMahjonggTileset]
Name=Ancient Egyptians
Name[ca]=Egipcis antics
Name[da]=Oldtidens egyptere
Name[de]=Antike Ägypter
Name[el]=Αρχαία Αίγυπτος
Name[es]=Los antiguos egipcios
Name[et]=Vana-Egiptus
Name[it]=Antichi egizi
Name[nl]=Oude Egyptenaren
Name[nn]=Egypt i oldtida
Name[pt]=Antigo Egipto
Name[pt_BR]=Antigo Egito
Name[ru]=Древние Египтяне
Name[sr]=Стари Египћани
Name[sr@latin]=Stari Egipćani
Name[sv]=Forntida egyptier
Name[uk]=Давні єгиптяни
Name[x-test]=xxAncient Egyptiansxx
Name[zh_CN]=古埃及
Name[zh_TW]=古埃及
VersionFormat=1
Author=Eugene Trounev [it-s] & Sean Wilson [Half-Left]
AuthorEmail=eugene.trounev@gmail.com; suseux@googlemail.com
FileName=egypt.svgz
LevelOffsetX=12
LevelOffsetY=12
TileFaceHeight=89
TileFaceWidth=69
TileHeight=116
TileWidth=96
