[KMahjonggTileset]
Name=Ancient Egyptians
Name[ca]=Egipcis antics
Name[ca@valencia]=Egipcis antics
Name[cs]=Starověcí Egypťané
Name[da]=Oldtidens egyptere
Name[de]=Antike Ägypter
Name[el]=Αρχαία Αίγυπτος
Name[en_GB]=Ancient Egyptians
Name[es]=Los antiguos egipcios
Name[et]=Vana-Egiptus
Name[fr]=Égypte ancienne
Name[gl]=Antigos exipcios
Name[hu]=Ókori Egyiptom
Name[is]=Fornegypskt
Name[it]=Antichi egizi
Name[km]=អេស្ស៊ី​​បុរាណ
Name[lt]=Senovės egiptiečiai
Name[lv]=Senie ēģiptieši
Name[nb]=Egypt i oldtida
Name[nds]=Ole Ägyptern
Name[nl]=Oude Egyptenaren
Name[nn]=Egypt i oldtida
Name[pl]=Starożytny Egipt
Name[pt]=Antigo Egipto
Name[pt_BR]=Antigo Egito
Name[ru]=Древние Египтяне
Name[sk]=Staroveký Egypt
Name[sl]=Starodavni Egipt
Name[sr]=Стари Египћани
Name[sr@ijekavian]=Стари Египћани
Name[sr@ijekavianlatin]=Stari Egipćani
Name[sr@latin]=Stari Egipćani
Name[sv]=Forntida egyptier
Name[tr]=Eski Mısırlılar
Name[uk]=Давні єгиптяни
Name[x-test]=xxAncient Egyptiansxx
Name[zh_CN]=古埃及
Name[zh_TW]=古埃及
VersionFormat=1
Author=Eugene Trounev [it-s] & Sean Wilson [Half-Left]
AuthorEmail=eugene.trounev@gmail.com; suseux@googlemail.com
FileName=egypt.svgz
LevelOffsetX=12
LevelOffsetY=12
TileFaceHeight=89
TileFaceWidth=69
TileHeight=116
TileWidth=96
