[KMahjonggTileset]
Name=Imperial Jade
Name[ca]=Jade Imperial
Name[da]=Kejserlig jade-farvet
Name[de]=Kaiserliche Jade
Name[el]=Αυτοκρατορικός νεφρίτης
Name[en_GB]=Imperial Jade
Name[eo]=Imperia jado
Name[es]=Jade imperial
Name[et]=Keiserlik sära
Name[eu]=Jade inperiala
Name[fr]=Jade impérial
Name[ga]=Séad Impiriúil
Name[gl]=Xade imperial
Name[hne]=इंपीरियल जेड
Name[hu]=Birodalmi jáde
Name[it]=Giada imperiale
Name[ja]=ヒスイ
Name[km]=ថ្ម​អធិរាជ
Name[lv]=Imperatora nefrīts
Name[nds]=Imperiaal Jaad
Name[nl]=Empirial Jade
Name[nn]=Kinesisk jade
Name[pl]=Imperial Jade
Name[pt]=Jade Imperial
Name[pt_BR]=jade Imperial
Name[ru]=Имперский нефрит
Name[sl]=Imperijski žad
Name[sr]=Царски жад
Name[sr@latin]=Carski žad
Name[sv]=Kejserlig jade
Name[uk]=Імперський нефрит
Name[wa]=Jade imperiå
Name[x-test]=xxImperial Jadexx
Name[zh_CN]=皇家翡翠
Name[zh_TW]=Imperial Jade
VersionFormat=1
Author=it-s
AuthorEmail=irs_me@hotmail.com
FileName=jade.svgz
LevelOffset=12
TileFaceHeight=86
TileFaceWidth=71
TileHeight=98
TileWidth=93
