[KMahjonggTileset]
Name=Imperial Jade
Name[ca]=Jade Imperial
Name[de]=Imperiale Jade
Name[el]=Αυτοκρατορικός νεφρίτης
Name[es]=Jade imperial
Name[nl]=Empirial Jade
Name[pt]=Jade Imperial
Name[pt_BR]=Jade Imperial
Name[sl]=Imperijski žad
Name[sv]=Kejserlig jade
Name[x-test]=xxImperial Jadexx
Name[zh_CN]=皇家翡翠
VersionFormat=1
Author=it-s
AuthorEmail=irs_me@hotmail.com
FileName=jade.svgz
LevelOffset=12
TileFaceHeight=86
TileFaceWidth=71
TileHeight=98
TileWidth=93
