[KMahjonggTileset]
Name=Imperial Jade
Name[uk]=Імперський нефрит
Name[x-test]=xxImperial Jadexx
VersionFormat=1
Author=it-s
AuthorEmail=irs_me@hotmail.com
FileName=jade.svgz
LevelOffset=12
TileFaceHeight=86
TileFaceWidth=71
TileHeight=98
TileWidth=93
