[KMahjonggTileset]
Name=Traditional
Name[ca]=Tradicional
Name[cs]=Tradiční
Name[da]=Traditionelt
Name[de]=Traditionell
Name[el]=Παραδοσιακό
Name[eo]=Tradicia
Name[es]=Tradicional
Name[et]=Traditsiooniline
Name[fa]=سنتی
Name[fi]=Perinteinen
Name[fr]=Traditionnel
Name[ga]=Traidisiúnta
Name[gl]=Tradicional
Name[hu]=Hagyományos
Name[it]=Tradizionale
Name[ja]=伝統的
Name[km]=បុរាណ
Name[lv]=Tradicionāls
Name[nds]=Överkamen
Name[nl]=Traditioneel
Name[nn]=Tradisjonell
Name[oc]=Tradicional
Name[pl]=Tradycyjny
Name[pt]=Tradicional
Name[pt_BR]=Tradicional
Name[ru]=Традиционный
Name[sl]=Tradicionalno
Name[sv]=Traditionella
Name[te]=సాంప్రదాయక
Name[tr]=Geleneksel
Name[uk]=Традиційний
Name[wa]=Wårdiveus
Name[x-test]=xxTraditionalxx
Name[zh_CN]=传统
Name[zh_TW]=傳統
Description=Americanized tiles inspired by Japanese Mahjongg tiles
VersionFormat=1
Author=James L. Hammons
AuthorEmail=jlhamm@acm.org
FileName=traditional.svgz
LevelOffsetX=12
LevelOffsetY=12
TileFaceHeight=89
TileFaceWidth=69
TileHeight=116
TileWidth=96
