[KMahjonggTileset]
Name=Traditional
Name[es]=Tradicional
Name[pt]=Tradicional
Name[pt_BR]=Tradicional
Name[sv]=Traditionella
Name[zh_TW]=傳統
Description=Americanized tiles inspired by japanese Mahjongg tiles
Description[es]=Fichas americanizadas inspiradas en las fichas del Mahjongg japonés
Description[fa]=کاشیهای امریکایی الهام گرفته از کاشیهای Mahjongg ژاپنی
Description[pt]=Peças americanas inspiradas nas peças reais do Mahjongg japonês
Description[pt_BR]=Peças americanas inspiradas nas peças reais do Mahjongg japonês
Description[sv]=Amerikaniserade brickor inspirerad av japanska Mahjongg-brickor
Description[zh_TW]=由實際的日本麻將牌得來的靈感
VersionFormat=1
Author=James L. Hammons
AuthorEmail=jlhamm@acm.org
FileName=traditional.svgz
LevelOffsetX=12
LevelOffsetY=12
TileFaceHeight=89
TileFaceWidth=69
TileHeight=116
TileWidth=96
