[KMahjonggBackground]
Name=Chinese Landscape
Name[be]=Кітайскі пейзаж
Name[el]=Κινέζικο τοπίο
Name[es]=Paisaje chino
Name[sv]=Kinesiskt landskap
Name[x-test]=xxChinese Landscapexx
Name[zh_TW]=中國山水畫
Description=Chinese landscape with mountains and a waterfall
Description[be]=Кітайскі пейзаж з гарамі і вадападам
Description[el]=Κινέζικο τοπίο με βουνά και ένα καταράκτη
Description[es]=Paisaje chino con montañas y cataratas
Description[sv]=Kinesiskt landskap med berg och ett vattenfall
Description[x-test]=xxChinese landscape with mountains and a waterfallxx
Description[zh_TW]=中國的山水畫
VersionFormat=1
Author=Eugene T
AuthorEmail=irs_me@hotmail.com
Type=SVG
FileName=chinese_landscape.svgz
Tiled=0
