[KMahjonggBackground]
Name=Plain Color
Name[be]=Проста колер
Name[el]=Απλό χρώμα
Name[sv]=Enkel färg
Name[uk]=Звичайний колір
Name[x-test]=xxPlain Colorxx
VersionFormat=1
Author=Mauricio Piacentini
AuthorEmail=mauricio@tabuleiro.com
Type=Color
RGBColor_1=#006E29
