[KMahjonggBackground]
Name=Default
Name[be]=Прадвызначаны
Name[el]=Προκαθορισμένο
Name[es]=Predeterminado
Name[ga]=Réamhshocrú
Name[ja]=デフォルト
Name[pt]=Predefinição
Name[pt_BR]=Predefinição
Name[sv]=Förval
Name[uk]=Типові
Name[x-test]=xxDefaultxx
Name[zh_TW]=預設
Description=A green background with light geometric patterns
Description[el]=Ένα πράσινο φόντο με απαλά γεωμετρικά σχέδια
Description[es]=Un fondo verde con patrones geométricos claros
Description[pt]=Um fundo verde com padrões geométricos leves
Description[pt_BR]=Um fundo verde com padrões geométricos leves
Description[sv]=En grön bakgrund med ljusa geometriska mönster
Description[x-test]=xxA green background with light geometric patternsxx
Description[zh_TW]=綠色背景，上面有一些幾何圖形
VersionFormat=1
Author=Raquel Ravanini
AuthorEmail=raquel@tabuleiro.com
Type=SVG
FileName=default.svg
Tiled=1
Width=50
Height=70
