[KMahjonggBackground]
Name=Default
Name[be]=Прадвызначаны
Name[br]=Dre ziouer
Name[ca]=Predeterminat
Name[cs]=Výchozí
Name[de]=Standard
Name[el]=Προκαθορισμένο
Name[eo]=Defaŭlto
Name[es]=Predeterminado
Name[et]=Vaikimisi
Name[fa]=پیش‌فرض
Name[fi]=Oletus
Name[fr]=Par défaut
Name[ga]=Réamhshocrú
Name[gl]=Predeterminado
Name[it]=Predefinito
Name[ja]=標準
Name[ko]=기본
Name[lv]=Noklusējuma
Name[nds]=Standard
Name[ne]=पूर्वनिर्धारित
Name[nl]=Standaard
Name[nn]=Standard
Name[oc]=Defaut
Name[pl]=Domyślne
Name[pt]=Predefinição
Name[pt_BR]=Padrão
Name[sl]=Privzeto
Name[sv]=Förval
Name[uk]=Типові
Name[wa]=Prémetou
Name[x-test]=xxDefaultxx
Name[zh_CN]=默认
Name[zh_TW]=預設
Description=A green background with light geometric patterns
Description[ca]=Un fons verd amb patrons geomètrics
Description[de]=Ein grüner Hintergrund mit ganz leichten geometrischen Mustern
Description[el]=Ένα πράσινο φόντο με απαλά γεωμετρικά σχέδια
Description[es]=Un fondo verde con patrones geométricos claros
Description[et]=Roheline taust kerge geomeetrilise mustriga
Description[fa]=زمینه سبز با الگوهای هندسی روشن
Description[fr]=Un arrière-plan vert avec de légers motifs géométriques
Description[ga]=Cúlra uaine le patrúin éadroma geoiméadracha
Description[gl]=Un fondo verde con padróns xeométricos
Description[it]=Uno sfondo verde con lievi motivi geometrici
Description[ja]=薄い幾何学模様の付いた緑色の背景
Description[lv]=Zaļš fons ar ģeometrisku ornamentu
Description[nds]=En gröön Achtergrund mit hell geometersch Mustern
Description[ne]=हल्का ज्यामितिय बाँन्की भएको एउटा हरियो पृष्ठभूमि
Description[nl]=Een groene achtergrond met lichte geometrische patronen
Description[pl]=Zielone tło z jasnym wzorem geometrycznym
Description[pt]=Um fundo verde com padrões geométricos leves
Description[pt_BR]=Um fundo verde com padrões geométricos leves
Description[sl]=Zeleno ozadje z svetlimi geometričnimi liki
Description[sv]=En grön bakgrund med ljusa geometriska mönster
Description[uk]=Зелене тло зі світлими геометричними візерунками
Description[x-test]=xxA green background with light geometric patternsxx
Description[zh_CN]=带有简单造型的绿色背景
Description[zh_TW]=綠色背景，上面有一些幾何圖形
VersionFormat=1
Author=Raquel Ravanini
AuthorEmail=raquel@tabuleiro.com
Type=SVG
FileName=default.svg
Tiled=1
Width=50
Height=70
