[KMahjonggBackground]
Name=Egyptian
Name[bs]=Egipatski
Name[ca]=Egipci
Name[ca@valencia]=Egipci
Name[cs]=Egyptské
Name[da]=Egyptisk
Name[de]=Ägyptisch
Name[el]=Αιγύπτιο
Name[en_GB]=Egyptian
Name[es]=Egipcio
Name[et]=Egiptus
Name[fi]=Egyptiläinen
Name[fr]=Égyptien
Name[ga]=Éigipteach
Name[gl]=Exipcio
Name[hi]=मिस्री
Name[hu]=Egyiptomi
Name[id]=Mesir
Name[it]=Egizio
Name[kk]=Мысырша
Name[km]=អេហ្ស៊ីប
Name[ko]=이집트
Name[lt]=Egipto
Name[lv]=Ēģiptes
Name[mr]=इजिप्शियन
Name[nb]=Egyptisk
Name[nds]=Ägyptsch
Name[nl]=Egyptenaar
Name[nn]=Egyptisk
Name[pl]=Egipskie
Name[pt]=Egípcio
Name[pt_BR]=Egípcio
Name[ro]=Egiptean
Name[ru]=Египетский
Name[sk]=Egyptská
Name[sl]=Egipt
Name[sq]=Egjiptian
Name[sr]=Египатски
Name[sr@ijekavian]=Египатски
Name[sr@ijekavianlatin]=Egipatski
Name[sr@latin]=Egipatski
Name[sv]=Egyptisk
Name[tr]=Mısırlı
Name[ug]=مىسىرلىق
Name[uk]=Єгиптянин
Name[wa]=Edjipcyin
Name[x-test]=xxEgyptianxx
Name[zh_CN]=埃及
Name[zh_TW]=埃及式
Description=A Egyptian style background
Description[bs]=Pozadina u Egipatskom stilu
Description[ca]=Un fons d'estil egipci
Description[ca@valencia]=Un fons d'estil egipci
Description[da]=En baggrund i egyptisk stil
Description[de]=Ein Hintergrund im ägyptischen Stil.
Description[el]=Φόντο αιγυπτιακού στιλ
Description[en_GB]=A Egyptian style background
Description[es]=Un fondo de estilo egipcio
Description[et]=Egiptuse stiilis taust
Description[fi]=Egyptiläistyylinen tausta
Description[fr]=Un arrière plan de style égyptien
Description[ga]=Cúlra ar nós na nÉigipteach
Description[gl]=Un fondo de estilo exipcio.
Description[hi]=मिस्री शैली की पृष्ठभूमि
Description[hu]=Egyiptomi témájú háttér
Description[id]=Sebuah latarbelakang gaya Mesir
Description[it]=Uno sfondo in stile egizio
Description[kk]=Мысырша нақышты аясы
Description[km]=ផ្ទៃ​ខាង​ក្រោយ​រចនាប័ទ្ម​អេស្ស៊ីប​
Description[ko]=이집트 스타일 배경
Description[lt]=Egipto stiliaus fonas
Description[lv]=Ēģiptes stila fons
Description[mr]=इजिप्शियन प्रकारची पार्श्वभूमी
Description[nb]=Bakgrunn i egyptisk stil
Description[nds]=En Achtergrund in ägyptsch Stil
Description[nl]=Een achtergrond in Egyptische stijl
Description[nn]=Ein bakgrunn frå det gamle Egypt.
Description[pl]=Tło w egipskim stylu
Description[pt]=Um fundo de estilo Egípcio
Description[pt_BR]=Um fundo de estilo egípcio
Description[ru]=Фон в египетском стиле
Description[sk]=Egyptský štýl pozadia
Description[sl]=Ozadje v egipčanskem slogu
Description[sr]=Позадина у египатском стилу
Description[sr@ijekavian]=Позадина у египатском стилу
Description[sr@ijekavianlatin]=Pozadina u egipatskom stilu
Description[sr@latin]=Pozadina u egipatskom stilu
Description[sv]=En bakgrund med egyptisk stil
Description[tr]=Eski Mısır stili arka plan
Description[uk]=Єгипетський стиль сорочок карт
Description[x-test]=xxA Egyptian style backgroundxx
Description[zh_CN]=一个埃及风格的背景
Description[zh_TW]=古埃及樣式的背景。
VersionFormat=1
Author=Sean Wilson
AuthorEmail=suseux@gmail.com
Type=SVG
FileName=egyptian.svg
