[KMahjonggBackground]
Name=Summer Field
Name[ca]=Camp d'estiu
Name[de]=Sommerplatz
Name[el]=Καλοκαιρινό χωράφι
Name[es]=Campo de verano
Name[ja]=夏の野原
Name[nl]=Zomerveld
Name[pt]=Campo de Verão
Name[pt_BR]=Campo de Verão
Name[sl]=Poletno polje
Name[sv]=Sommaräng
Name[x-test]=xxSummer Fieldxx
Name[zh_CN]=夏日原野
Name[zh_TW]=夏日原野
Description=The Summertime Greens
Description[ca]=Els verds del temps estival
Description[de]=Die Sommer Grünflächen
Description[el]=Καλοκαιρινό πράσινο
Description[es]=El césped de verano
Description[ja]=夏の緑
Description[nl]=De velden in de zomer
Description[pt]=Os Prados Verdes de Verão
Description[pt_BR]=Os Prados Verdes de Verão
Description[sl]=Poletne zelenice
Description[sv]=Sommartidens gröna växter
Description[x-test]=xxThe Summertime Greensxx
Description[zh_CN]=以夏日为主题的绿色背景
Description[zh_TW]=夏日的原野
VersionFormat=1
Author=Eugene Trounev
AuthorEmail=eugene.trounev@gmail.com
Type=SVG
FileName=summerfield.svg
Tiled=0
