[KMahjonggBackground]
Name=Summer Field
Name[ast]=Campu de branu
Name[ca]=Camp d'estiu
Name[ca@valencia]=Camp d'estiu
Name[cs]=Letní pole
Name[da]=Sommermark
Name[de]=Sommerplatz
Name[el]=Καλοκαιρινό χωράφι
Name[en_GB]=Summer Field
Name[es]=Campo de verano
Name[et]=Suvine väli
Name[eu]=Udako eremua
Name[fa]=دشت تابستان
Name[fr]=Champ d'été
Name[ga]=Faiche Shamhraidh
Name[gl]=Campo no verán
Name[hne]=समर फील्ड
Name[hr]=Summer Field
Name[hu]=Nyári mező
Name[it]=Campo estivo
Name[ja]=夏の野原
Name[km]=វាល​​នៅ​រដូវ​ក្ដៅ
Name[lt]=Vasaros laukas
Name[lv]=Vasaras lauks
Name[nds]=Sommerfeld
Name[nl]=Zomerveld
Name[nn]=Sommargrøn eng
Name[pl]=Letnie pole
Name[pt]=Campo de Verão
Name[pt_BR]=Campo de Verão
Name[ro]=Cîmp de vară
Name[ru]=Летнее поле
Name[sk]=Letné pole
Name[sl]=Poletno polje
Name[sr]=Летње поље
Name[sr@ijekavian]=Летње поље
Name[sr@ijekavianlatin]=Letnje polje
Name[sr@latin]=Letnje polje
Name[sv]=Sommaräng
Name[tr]=Yazlık Çayır Çimen
Name[uk]=Літнє поле
Name[x-test]=xxSummer Fieldxx
Name[zh_CN]=夏日原野
Name[zh_TW]=夏日原野
Description=The Summertime Greens
Description[ast]=El prau de branu
Description[ca]=Els verds del temps estival
Description[ca@valencia]=Els verds del temps estival
Description[da]=Grønne sommerfarver
Description[de]=Die Grünflächen im Sommer.
Description[el]=Καλοκαιρινό πράσινο
Description[en_GB]=The Summertime Greens
Description[es]=El césped de verano
Description[et]=Suvine aas
Description[eu]=Uda garaiko berdeak
Description[fa]=سبزی تابستان
Description[fr]=Les verts d'été
Description[ga]=Faiche Shamhraidh
Description[gl]=O verde do verán
Description[hne]=गरमी दिन के हरियर
Description[hu]=Nyári zöld
Description[it]=I prati d'estate
Description[ja]=夏の緑
Description[lv]=Vasaras laika zaļais
Description[nds]=De Sommer-Grööntöön
Description[nl]=De velden in de zomer
Description[nn]=Sommargrøn eng.
Description[pl]=Łąki w lecie
Description[pt]=Os Prados Verdes de Verão
Description[pt_BR]=Os campos verdes do verão
Description[ru]=Зелень летнего времени
Description[sk]=Letná zeleň
Description[sl]=Poletne zelenice
Description[sr]=Летње зеленило
Description[sr@ijekavian]=Љетње зеленило
Description[sr@ijekavianlatin]=Ljetnje zelenilo
Description[sr@latin]=Letnje zelenilo
Description[sv]=Sommartidens gröna växter
Description[tr]=Yaz Zamanı Yeşillikleri
Description[uk]=Зелень літа
Description[x-test]=xxThe Summertime Greensxx
Description[zh_CN]=以夏日为主题的绿色背景
Description[zh_TW]=夏日的原野
VersionFormat=1
Author=Eugene Trounev
AuthorEmail=eugene.trounev@gmail.com
Type=SVG
FileName=summerfield.svg
Tiled=0
