[KMahjonggBackground]
Name=Light Wood
Name[ca]=Fusta lleugera
Name[cs]=Světlé dřevo
Name[da]=Lyst træ
Name[de]=Leichtes Holz
Name[el]=Ανοιχτό ξύλο
Name[eo]=Hela ligno
Name[es]=Madera clara
Name[et]=Hele puit
Name[fa]=چوب سبک
Name[fr]=Bois clair
Name[ga]=Adhmad Geal
Name[gl]=Madeira clara
Name[hu]=Világos fa
Name[it]=Legno chiaro
Name[ja]=ライトウッド
Name[km]=ឈើភ្លឺ
Name[ko]=가벼운 나무
Name[lv]=Gaiša koksne
Name[nds]=Hell Holt
Name[nl]=Licht hout
Name[nn]=Lyst trevirke
Name[pl]=Jasne drewno
Name[pt]=Madeira Clara
Name[pt_BR]=Madeira Leve
Name[ro]=Lemn luminos
Name[ru]=Светлый лес
Name[sl]=Svetel les
Name[sv]=Ljust trä
Name[te]=తెలిక చెక్క
Name[uk]=Легке дерево
Name[wa]=Bwès ledjir
Name[x-test]=xxLight Woodxx
Name[zh_CN]=亮木色
Name[zh_TW]=輕木頭
Description=Resembles the surface of a wood table
Description[da]=Minder om et træbords overflade
Description[el]=Παρομοιάζει την επιφάνεια ενός ξύλινου τραπεζιού
Description[et]=Meenutab puitlaua pinda
Description[fr]=Ressemble à la surface d'une table en bois
Description[gl]=Ten unha semellanza coa superficie dunha mesa de madeira
Description[ja]=木製のテーブルの表面に似た模様
Description[km]=ផ្គុំ​ផ្ទៃ​របស់​តារាង​ឈើ​ឡើង​វិញ
Description[lv]=Atgādina koka galda virsmu
Description[nds]=Liek to de Böversiet vun en holten Disch
Description[nl]=Lijkt op een houten tafelblad
Description[nn]=Liknar på overflata på eit trebord
Description[pt]=Dá uma aparência de mesa de madeira
Description[pt_BR]=Lembra a superfície de uma mesa de madeira
Description[sv]=Liknar ytan på ett träbord
Description[uk]=Нагадує поверхню дерев’яного стола
Description[zh_TW]=重組木桌的外觀
VersionFormat=1
Author=Raquel Ravanini
AuthorEmail=raquel@tabuleiro.com
Type=SVG
FileName=wood_light.svg
Tiled=1
Width=205
Height=180
