[KMahjonggBackground]
Name=Light Wood
Name[ca]=Fusta lleugera
Name[de]=Leichtes Holz
Name[el]=Ανοιχτό ξύλο
Name[es]=Madera clara
Name[ja]=ライトウッド
Name[nl]=Licht houd
Name[pt]=Madeira Clara
Name[pt_BR]=Madeira Clara
Name[sv]=Ljust trä
Name[wa]=Bwès ledjir
Name[x-test]=xxLight Woodxx
Name[zh_CN]=亮木色
Name[zh_TW]=輕木頭
Description=Resembles the surface a wood table
Description[ca]=Sembla la superfície de fusta d'una taula
Description[de]=Gleicht der Oberfläche eines Holztischs
Description[el]=Παρομοιάζει την επιφάνεια ενός ξύλινου τραπεζιού
Description[es]=Se asemeja a la superficie de una mesa de madera
Description[fi]=Muistuttaa puisen pöydän pintaa
Description[ja]=木製のテーブルの表面に似た模様
Description[nl]=Lijkt op een houten tafelblad
Description[pt]=Dá uma aparência de mesa de madeira
Description[pt_BR]=Dá uma aparência de mesa de madeira
Description[sv]=Liknar ytan på ett träbord
Description[wa]=Rishonne li surface d' ene tåve di bwès
Description[x-test]=xxResembles the surface a wood tablexx
Description[zh_CN]=类似木桌的平面
Description[zh_TW]=重組木桌的外觀
VersionFormat=1
Author=Raquel Ravanini
AuthorEmail=raquel@tabuleiro.com
Type=SVG
FileName=wood_light.svg
Tiled=1
Width=205
Height=180
