[KMahjonggBackground]
Name=Light Wood
Name[bs]=Svjetlo drvo
Name[ca]=Fusta lleugera
Name[ca@valencia]=Fusta lleugera
Name[cs]=Světlé dřevo
Name[da]=Lyst træ
Name[de]=Leichtes Holz
Name[el]=Ανοιχτό ξύλο
Name[en_GB]=Light Wood
Name[eo]=Hela ligno
Name[es]=Madera clara
Name[et]=Hele puit
Name[eu]=Egur argia
Name[fa]=چوب سبک
Name[fi]=Vaalea puu
Name[fr]=Bois clair
Name[ga]=Adhmad Geal
Name[gl]=Madeira clara
Name[hi]=हल्की लकड़ी
Name[hne]=हल्का लकड़ी
Name[hr]=Light Wood
Name[hu]=Világos fa
Name[id]=Permukaan Kayu
Name[is]=Ljós viður
Name[it]=Legno chiaro
Name[ja]=ライトウッド
Name[kk]=Ашық ағаш
Name[km]=ឈើ​ភ្លឺ
Name[ko]=가벼운 나무
Name[lt]=Šviesus medis
Name[lv]=Gaiša koksne
Name[mr]=हलके लाकूड
Name[nb]=Lyst tre
Name[nds]=Hell Holt
Name[nl]=Licht hout
Name[nn]=Lyst trevirke
Name[pl]=Jasne drewno
Name[pt]=Madeira Clara
Name[pt_BR]=Madeira leve
Name[ro]=Lemn luminos
Name[ru]=Светлое дерево
Name[sk]=Svetlé drevo
Name[sl]=Svetel les
Name[sr]=Светло дрво
Name[sr@ijekavian]=Светло дрво
Name[sr@ijekavianlatin]=Svetlo drvo
Name[sr@latin]=Svetlo drvo
Name[sv]=Ljust trä
Name[te]=తెలిక చెక్క
Name[tr]=Aydınlık Tahta
Name[uk]=Легке дерево
Name[wa]=Bwès ledjir
Name[x-test]=xxLight Woodxx
Name[zh_CN]=亮木色
Name[zh_TW]=輕木頭
Description=Resembles the surface of a wood table
Description[bs]=Nalikuje površini drvenog stola
Description[ca]=Sembla la superfície de fusta d'una taula
Description[ca@valencia]=Sembla la superfície de fusta d'una taula
Description[da]=Minder om et træbords overflade
Description[de]=Gleicht der Oberfläche eines Holztisches.
Description[el]=Παρομοιάζει την επιφάνεια ενός ξύλινου τραπεζιού
Description[en_GB]=Resembles the surface of a wood table
Description[es]=Se asemeja a la superficie de una mesa de madera
Description[et]=Meenutab puitlaua pinda
Description[eu]=Egur taula baten azala dirudi
Description[fi]=Muistuttaa puisen pöydän pintaa
Description[fr]=Ressemble à la surface d'une table en bois
Description[ga]=Cosúil le tábla adhmaid
Description[gl]=Aseméllase á superficie dunha mesa de madeira
Description[hi]=लकड़ी के टेबल की सतह से मिलता जुलता
Description[hu]=Egy fából készült asztal lapjára hasonlít
Description[id]=Menyerupai permukaan meja kayu
Description[it]=Ricorda la superficie di un asse di legno
Description[ja]=木製のテーブルの表面に似た模様
Description[kk]=Ағаш үстел үстіне ұқсас
Description[km]=ស្រដៀង​នឹង​ផ្ទៃ​ខាង​ក្រៅ​​របស់​តុ​​ឈើ
Description[ko]=목재 탁자 표면을 닮은 테마
Description[lt]=Primena medinio stalo paviršių
Description[lv]=Atgādina koka galda virsmu
Description[nb]=Likner overflaten på et trebord
Description[nds]=Liek to de Böversiet vun en holten Disch
Description[nl]=Lijkt op een houten tafelblad
Description[nn]=Liknar på overflata på eit trebord.
Description[pl]=Przypomina powierzchnię drewnianego stołu
Description[pt]=Dá uma aparência de mesa de madeira
Description[pt_BR]=Lembra a superfície de uma mesa de madeira
Description[ro]=Amintește de suprafața unei mese de lemn
Description[ru]=Поверхность деревянного стола
Description[sk]=Pripomína povrch dreveného stola
Description[sl]=Spominja na površino lesene mize
Description[sr]=Налик на површ дрвеног стола
Description[sr@ijekavian]=Налик на површ дрвеног стола
Description[sr@ijekavianlatin]=Nalik na površ drvenog stola
Description[sr@latin]=Nalik na površ drvenog stola
Description[sv]=Liknar ytan på ett träbord
Description[tr]=Tahta masanın yüzeyini göstermektedir
Description[uk]=Нагадує поверхню дерев’яного стола
Description[wa]=Rishonne li surface d' ene tåve di bwès
Description[x-test]=xxResembles the surface of a wood tablexx
Description[zh_CN]=类似木桌的平面
Description[zh_TW]=重組木桌的外觀
VersionFormat=1
Author=Raquel Ravanini
AuthorEmail=raquel@tabuleiro.com
Type=SVG
FileName=wood_light.svg
Tiled=1
Width=205
Height=180
